<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Text Utils</title>
</head>

<body>
    <!-- Hiiiiii {{name}} -->
    <h1>welcome to text analyzer.enter your text below</h1>
    <form action='/analyze' method='POST'>{% csrf_token %}
        <textarea name='text' style='margin: 0px; width: 1175px; height: 78px;'></textarea><br>
        <input type="checkbox" name="removepunc">remove punctuations <br>
        <input type="checkbox" name="fullcaps">Upper Case <br>
        <input type="checkbox" name="extraspaceremover">Extra space remover <br>
        <input type="checkbox" name="charcounter">Total number of Characters


        <hr>
        <button type="submit">analyze</button>
    </form>
</body>

</html>